body {
    background-image: url(../image/tecnico.jfif); 
    background-color: black; 
    color: #000000;
    margin: 0;
    font-size: 25px;
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-size:100%; /* Ajusta a imagem para cobrir todo o fundo */
}

p{
    margin-top: 300px;
    margin-left: -450px;
}

h1{
    margin-left: 20px;
    color: white;
}

.psq{
    margin: 20px;
}

#pesquisar{
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
    width: 300px;
    padding: 10px 40px 10px 40px; /* Espaço extra à esquerda para a imagem */
}

.fa-solid {
    font-size: 20px;
    color: black;
    position: absolute;
    left: 30px;
    margin-top: 10px;
}

img{
    border-radius: 50px;
}

.procura{
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    margin: auto;
    width: 1600px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
}