/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, rgb(34, 199, 250), rgb(171, 252, 252)60%);
    color: #000000;
    margin: 0;
  }
  
  /* Estilos do formulário */
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #aee5ff;
    border-radius: 20px;
    background-color: #ddeffa;
  }
  
  @media only screen and (max-width: 767px) {
    form {
      max-width: 90%;
    }
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  h1 {
    text-align: center;
    margin-top: 100px;
  }
  
  input[type="text"] {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /*button[type="button"] {
    display: block;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }*/
  
  button[type="button"]:hover {
    background-color: #00b7ffa8;
    transition: 0.8s;
  }

  .btn-class{
    display: flex;
    justify-content: space-between;
  }

  button{
    width: 120px;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    background: #626464;
    color: #fff;
    cursor: pointer;
  }

  .logo{
    width: 3%;
    margin-left: 25px;
    margin-top: 10px;
    position: absolute;
    left: 20px; 
  }

  .cabecalho{
    background-color: #2a7496;
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    position: relative;
  }

  #tlt{
    color: #000000;
  }

  

  