/* Estilos gerais */
body {
  font-family: "Patrick Hand";
  color: #ffffff;
  margin: 0;
  font-size: 25px;
  background-image: url(../image/tecnico.jfif);
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-size:100%; /* Ajusta a imagem para cobrir todo o fundo */
}
  
.cabecalho{
  background-image: linear-gradient(to top, rgba(177, 177, 177, 0), rgb(0, 0, 0));
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  position: relative;
}


/* Estilos do formulário */
form {
  max-width: 600px;
  height: 650px;
  margin: 0 auto;
  padding: 13px;
  border-radius: 20px;
  background-color: #00000093;
}
  
@media only screen and (max-width: 767px) {
  form {
     max-width: 90%;
  }
}
  
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
  
h1 {
  text-align: center;
  margin-top: 50px;
}
  
  input[type="text"] {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 20px;
  }
  
  /*button[type="button"] {
    display: block;
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }*/
  
  button[type="button"]:hover {
    background-color: #00b7ffa8;
    transition: 0.8s;
  }

.btn-class{
  display: flex;
  justify-content: space-between;
}

button{
  width: 120px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background: #626464;
  color: #fff;
  cursor: pointer;
}

.logo{
  width: 3%;
  margin-left: 25px;
  margin-top: 10px;
  position: absolute;
  left: 20px; 
}

<<<<<<< HEAD
  .cabecalho{
    background-color: #2a7496;
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    position: relative;
  }

  #tlt{
    color: #000000;
  }

  #voltar{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }  

  #disponível{
    display: block;
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 20px;
    display: block;
    margin-bottom: 10px;
  }

  #locais{
    display: block;
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 20px;
    display: block;
    margin-bottom: 10px;
  }
=======
#voltar{
  text-decoration: none;
  color: rgb(2, 2, 2);
  display: flex;
  justify-content: center;
  margin-top: 6px;
  padding: 50px;
  font-size: 3vh;
}  
>>>>>>> 6efaba84e0e9be3dd5fad0cf74e521ce6bef2fe2

#disponivel{
  display: block;
  width: 30%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #000000;
  border-radius: 20px;
  display: block;
  margin-bottom: 10px;
}

#locais{
  display: block;
  width: 30%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #000000;
  border-radius: 20px;
  display: block;
  margin-bottom: 10px;
}