/* Estilos gerais */
body {
    font-family: "Patrick Hand";
    background-image: linear-gradient(to right, rgb(34, 199, 250), rgb(171, 252, 252)60%);
    color: #000000;
    margin: 0;
    font-size: 23px;
}

/* Estilos do formulário */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid #aee5ff;
    border-radius: 20px;
    background-color: #ddeffa;
}
  
@media only screen and (max-width: 767px) {
form {
    max-width: 90%;
   }
}
  
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
  
h1 {
    text-align: center;
    margin-top: 50px;
}
  
input[type="text"] {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 17px;
}
  
.btn_class{
    display: flex;
    justify-content: space-between;
  }
  
button{
    width: 120px;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background: #626464;
    color: #fff;
    cursor: pointer;
}
  
button[type="button"]:hover {
    background-color: #00b7ffa8;
    transition: 0.8s;
}

#voltar{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
  }

  #ferramenta{
    width: 150px;
    margin-bottom: -150px;
  }
  