/* Estilos gerais */
body {
  font-family: "Patrick Hand";
  background-image: url(../image/tecnico.jfif); 
  background-color: black; 
  color: #ffffff;
  margin: 0;
  font-size: 25px;
  background-repeat: no-repeat; /* Evita que a imagem se repita */
  background-size:100%; /* Ajusta a imagem para cobrir todo o fundo */
}

#cabeça{
  background-image: linear-gradient(to top, rgba(177, 177, 177, 0), rgb(0, 0, 0));
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  position: relative;
}

form {
  max-width: 600px;
  height: 900px;
  margin: 0 auto;
  padding: 13px;
  border-radius: 20px;
  background-color: #00000093;
}

@media only screen and (max-width: 767px) {
  form {
    max-width: 90%;
  }
}

#data, #equipamento, #locais{
  border-radius: 20px;
  padding: 12px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

input[type="text"] {
  display: block;
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 17px;
}

input.invalid {
  border-color: red;
  background-color: #fdd;
}

.btn_class{
  display: flex;
  justify-content: space-between;
}

button{
  width: 120px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background: #626464;
  color: #fff;
  cursor: pointer;
}

button[type="button"]:hover {
  background-color: #00b7ffa8;
  transition: 0.8s;
}

#logo{
  width: 3%;
  margin-left: 25px;
  margin-top: 10px;
  position: absolute;
  left: 20px; 
}

#voltar{
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding: 50px;
  font-size: 3vh;
}